<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{.title}}</title>
    <meta name="keywords" content="{{.hot_word}}">
    <meta name="description" content="{{.info}}">
    <!--主页主题样式-->
    <link rel="stylesheet" id="main-style-css"
          href="https://file.bigbiy.com/upload_file/2019_03_09/c186705880c8387d65e14557df6062ac.css" type="text/css"
          media="all">
    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    .img_center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    </style>
</head>

<body class="home blog"> <!-- 顶部导航栏 -->
<nav id="top-navi" class="headroom headroom--not-bottom headroom--pinned headroom--top">
    <div id="menu-btn">
        <div class="menu-btn-bar"></div>
        <div class="menu-btn-bar"></div>
        <div class="menu-btn-bar"></div>
    </div>
    <div class="top-navi-content">
        <a class="top-navi-logo" href="#">
            <h1>Chinese News</h1>
        </a>
    </div>
</nav><!-- #top-header -->


<main id="main" class="site-main container" role="main"> <!-- 博文列表区 -->
    <!--内容列表部分-->
    {{$title:=.title}}
    {{$tmp:="#"}}
    <!--展示标题-->
    <h3 class="text-center">{{$title}}</h3>
    <hr>
    <!--展示文字-->
    {{range $k,$v:=.content_list}}
    <p class="text-muted">
        {{$v}}
    </p>
    {{end}}
    <hr>
    <!--展示图片-->
    {{range $img_index,$img_url:=.img_list}}
    {{if (eq $img_url "#")}}

    {{else}}
    <img src="{{$img_url}}" class="img-rounded img_center" style="width:70%;">
    {{end}}
    {{end}}
    <!--返回按钮-->
    <!--分页部分-->
    <ol class="page-navi">
        <li class="current">
            <a href="/?n={{.page}}" class="page-numbers">返回</a>
        </li>
    </ol>

</main>


<!-- .site-main -->
<footer id="site-footer">
    Copyright © bigbiy.com
</footer>

</body>
</html>