<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="热点事件">
    <meta name="description" content="热点事件">
    <meta name="google-site-verification" content="sO9w86v_cAlWn5iS9clvGeI3GT2iOAR8nWduRwHI4mw"/>
    <meta name="baidu-site-verification" content="1vwkO2wUAH"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>bigbiy热点小站</title>
    <!--适配移动端-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<script src="https://s13.cnzz.com/z_stat.php?id=1275056764&web_id=1275056764" language="JavaScript"></script>
{{$n:=.current_page}}
<div class="container">
    <!--内容列表部分-->
    {{range $k,$v :=.articles }}
    <hr>
    <a href="/detail?id={{$v.Id}}&n={{$n}}">
        <h4>{{$v.Title}}
            <small>{{$v.Hot_word}}</small>
        </h4>
    </a>
    {{ end }}
    <hr>
    <!--导航条部分-->
    <nav aria-label="...">
        <ul class="pagination">
            {{range $i,$e :=.page_num_list}}
            {{if (eq $n $e)}}
            <li class="active"><a href="/?n={{$e}}">{{$e}}</a></li>
            {{else}}
            <li><a href="/?n={{$e}}">{{$e}}</a></li>
            {{end}}
            {{end}}
        </ul>
    </nav>
</div>
</body>
</html>
